body {
  margin: 0;
  padding: 0;
}

.mainDiv {
  display: flex;
}

.leftNav {
  background-color: #eee;
  padding: 20px;
  height: 100%;
}

.topNav {
  height: 50px;
  background-color: #cfdefd;
}

.topNav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.topNav li {
  padding: 10px;
  text-align: center;
  list-style: none;
}

.videoContent {
  padding: 20px;
}