<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最热</h3>
  </div>
  <div class="panel-body">
    {{#each sidebar.popular}}
    <div class="col-md-4 text-center" style="padding-bottom: 0.5em;">
      <a href="/images/{{uniqueId}}">
        <img src="/public/upload/{{filename}}" 
          alt="{{title}}"
          class="img-thumbnail"
          style="width: 75px;height: 75px">
      </a>
    </div>
    {{/each}}
  </div>
</div>